body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

#header {
  display: flex;
  padding-left: 30px;
}

#logo {
  padding-right: 20px;
  width: 10%;
  height: 10%;
}

#slogan {
  margin-top: 0;
}

#name {
  margin-bottom: 10px;
}

#navbarItems {
  display: flex;
  border: solid 2px;
  padding-left: 10px;
  margin-right: 2%;
  margin-left: 2%;
}

.navItem {
  display: flex;
  padding-right: 10px;
}

nav a:link, a:visited, a:hover {
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-decoration: none;
}

#headshot {
  width: 30%;
  height: 30%;
  margin-left: 2%;
}

#main {
  display: flex;
}

#mainContent1 {
  margin-left: 2%;
  margin-right: 2%;
}

#mainContent2 {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-right: 2%;
}

#content {
  display: flex;
  flex-direction: column;
}

#logo2 {
  max-width: 10%;
  height: 70%;
  align-self: center;
  margin-right: 20px;
  margin-left: 20px;
}

#moreContent {
  margin-left: 3%;
}

#link1 {
  align-self: center;
  color: blue;
}

#footer {
  text-align: center;
  align-items: center;
  border: solid 2px black;
  margin-top: 20px;
  height: 100vh;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

#footer p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
}

#copyright {
  display: flex;
  justify-content: space-between;
}

#num {
  padding-left: 12em;
}

@media screen and (max-width: 600px) {

  #header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }

  #navbarItems {
    flex-direction: column;
    align-items: center;
  }

  #main {
    flex-direction: column;
    align-items: center;
  }

  #mainContent2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #mainContent1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #moreContent {
    text-align: center;
  }

  #copyright {
    flex-direction: column;
  }

  #num {
    padding-left: 0;
  }

  #wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  #logo {
    width: 70vw;
    padding-right: 0;
  }

  #headshot {
    margin: 0;
  }

}

@media screen and (max-width: 900px) {

  #header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #navbarItems {
    flex-direction: column;
  }

  #main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #mainContent2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #copyright {
    flex-direction: column;
  }

  #num {
    padding-left: 0;
  }

  #wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  #logo {
    width: 30vw;
  }

}

@media screen and (min-width: 1200px) {

  body {
    background-color: rgb(221, 245, 253);
  }

}

@media screen and (min-width: 2500px) {

  body {
    background-color: rgb(0, 255, 170);
  }

}